{:rename-macros {}, :renames {}, :externs {document {createElement {}, body {appendChild {}}}, BalloonEditor {create {}}}, :use-macros {}, :excludes #{}, :name app.main, :imports nil, :requires {h hoplon.core, hoplon.core hoplon.core, j javelin.core, javelin.core javelin.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros {h hoplon.core, hoplon.core hoplon.core, j javelin.core, javelin.core javelin.core}, :doc nil}